# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Python specific settings, complying with PEP 8 style guide, except for the line length
[*.py]
indent_size = 4
max_line_length = 120

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 150

# Bash scripts
[*.sh]
indent_size = 2



